@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #212529;
  background-color: #f8fafc;

  }

  @-webkit-keyframes jiggle {
    0%, 5.2%, 100% { margin-left: 0px;}
    0.4%  {margin-left: -3px;}
    1.2%  {margin-left: 3px;}
    2%  {margin-left: -3px;}
    2.8%  {margin-left: 3px;}
    3.6%  {margin-left: -3px;}
    4.4%  {margin-left: 3px;}
  }
  
  @-moz-keyframes jiggle {
    0%, 5.2%, 100% { margin-left: 0px;}
    0.4%  {margin-left: -3px;}
    1.2%  {margin-left: 3px;}
    2%  {margin-left: -3px;}
    2.8%  {margin-left: 3px;}
    3.6%  {margin-left: -3px;}
    4.4%  {margin-left: 3px;}
  }
  
  @-o-keyframes jiggle {
    0%, 5.2%, 100% { margin-left: 0px;}
    0.4%  {margin-left: -3px;}
    1.2%  {margin-left: 3px;}
    2%  {margin-left: -3px;}
    2.8%  {margin-left: 3px;}
    3.6%  {margin-left: -3px;}
    4.4%  {margin-left: 3px;}
  }
  
  @keyframes jiggle {
    0%, 5.2%, 100% { margin-left: 0px;}
    0.4%  {margin-left: -3px;}
    1.2%  {margin-left: 3px;}
    2%  {margin-left: -3px;}
    2.8%  {margin-left: 3px;}
    3.6%  {margin-left: -3px;}
    4.4%  {margin-left: 3px;}
  }
  