// START FLEXBOX MIXINS

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin col-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}





.slide-in {
  animation-duration: 3s;
  animation-name: slide;
}

.fade-in {
  animation-duration: 2s;
  animation-name: fade;
}

.float-around {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: floataround;
}

@keyframes slide {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}


@keyframes floataround {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);

  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
$mobileScreen: 768px;
$microScreen: 460px;
$tabletScreen: 1024px;
$desktopScreen: 1200px;
$macroScreen: 1750px;

$microOnly: "(max-width: #{$microScreen})";
$mobileOnly: "(max-width: #{$mobileScreen})";
$tabletOnly: "(min-width: #{$mobileScreen + 1}) and (max-width: #{$tabletScreen})";
$desktopTight: "(min-width: #{$tabletScreen + 1}) and (max-width: #{$desktopScreen})";
$mobileAndTabletOnly: "(max-width: #{$tabletScreen})";
$nonDesktop: "(max-width: #{$tabletScreen})";
$tabletAndLarger: "(min-width: #{$mobileScreen + 1})";
$desktopAndLarger: "(min-width: #{$tabletScreen + 1})";
$macroScreens: "(min-width: #{$macroScreen + 1})";

$compWidth: 16;
$compHeight: 9;

@mixin scale-size($styles: (), $mobileScale: 1) {
  @each $p, $v in $styles {
    #{$p}: #{calc($v/$compWidth)}vw;
  }

  @media (min-aspect-ratio: 16/9) {
    @each $p, $v in $styles {
      #{$p}: #{calc($v/$compHeight)}vh;
    }
  }

  @media (max-width: 768px) {
    @each $p, $v in $styles {
      #{$p}: #{calc(($v * $mobileScale) / $compHeight)}vw;
    }
  }
}

h1 {
  font-size: 150%;
  @media #{$tabletAndLarger} {
    font-size: 2.5vw;
  }


}

h2 {
  font-size: 110%;
  @media #{$tabletAndLarger} {
    font-size: 1.5vw;
  }

}


